{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div id="wrapper" ng-app="timeTracker">
        <main ng-controller="MainCtrl">
            <div id="container" class="container">
                <h1>Dashboard</h1>
                <div class="row">
                    {% verbatim %}
                    <div class="text-center" ng-if="fetching">
                    <i class="fa fa-refresh fa-2x"></i>
                    </div>
                    <div ng-if="!fetching">
                            {% endverbatim %}
                    <div class="col-xs-6">
                        {% include 'default/dashboard/activities.html.twig' %}
                    </div>
                    <div class="col-xs-6">

                        {% include 'default/dashboard/goals.html.twig' %}
                        <h2>Time painting</h2>
                        <div class="alert alert-info">
                            work in progress
                        </div>
                        {#{% include 'default/dashboard/painting.html.twig' %}#}
                    </div>
                    {% verbatim %}
                {% endverbatim %}
                </div>
            </div>
        </main>
        <div class="well">
            <h2>
                TODO
            </h2>
            <ul>
                <li>
                    <h2>Dashboard</h2>
                </li>
                <li>
                    info sur la dernière activité, et si elle est toujours en cours
                </li>
                <li>
                    boutons play, stop.
                </li>
                <li>
                    bouton ponctuel
                </li>
                <li>
                    stopper un enregistrement déjà commencé.
                </li>
                <li>
                    module angular pour réordonner les activités et leur rang
                </li>
                <li>
                    infos modales pour chaque partie de la page donnant des conseils
                </li>
                <li>
                    <h2>Objectifs</h2>
                </li>
                <li>
                    marquer comme fait pour un objectif
                </li>
                <li>
                    <h2>Statistiques</h2>
                </li>
                <li>
                    compter les temps passés par activités
                </li>
                <li>
                    graphique en courbes des temps passés
                </li>
            </ul>


        </div>
    </div>

{% endblock %}
