{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div id="wrapper" ng-app="timeTracker">
        <main ng-controller="MainCtrl">
            <div id="container" class="container">
                <h1>Statistiques</h1>

                <div class="row">
                    <div class="col-xs-6">
                        <h2>
                            activités dans ce mois
                        </h2>
                        <div id="canevasland">
                            <div class="alert alert-info">
                                <i class="fa fa-warning"></i>
                                work in progress
                            </div>
                            <div id="chartContainer" style="height: 300px; width: 100%;"></div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <h2>
                             <span class="badge">
                             {{ app.user.goals |length }}
                        </span>
                            objectifs
                        </h2>
                        <div class="alert alert-info">
                            <i class="fa fa-warning"></i>
                            work in progress
                            <h3>Réussis</h3>
                            <div class="success">
                                <span class="badge">
                                     {{ app.user.goals |length }}
                                </span>
                            </div>
                            <h3>Reportés</h3>
                            <div class="postponed">
                                <span class="badge">
                                     {{ app.user.goals |length }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <h2>Comptes totaux</h2>
                        <div class="count">

                        <span class="badge">
                             {{ app.user.goals |length }}
                        </span>
                            Goals
                        </div>
                        <div class="count">
                             <span class="badge">
                            {{ app.user.activities |length }}</span>
                            Activités
                        </div>
                        <div class="count">
                             <span class="badge">
                                {{ app.user.records  |length }}
                             </span>
                            Suivis Enregistrés

                        </div>


                    </div>
                    <div class="col-xs-6">
                        <h2>
                            Exportation
                        </h2>
                        <div class="alert alert-info">
                            <i class="fa fa-warning"></i>
                            work in progress

                            <a href="{{ path('homepage') }}" class="btn btn-default">
                                <i class="fa fa-file-excel-o"></i>
                                Tout exporter en csv
                            </a>
                        </div>

                    </div>
                </div>


            </div>
        </main>
    </div>

{% endblock %}
