<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Suivi d'activités TimeTracking{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% endblock %}
</head>
<body>
{% if app.user is not defined %}
    <div class="bg-img"></div>
{% else %}
    <div class="bg-img-logged-in"></div>
{% endif %}

{% block navigation %}
{% endblock %}
{% block bigMain %}
<div id="bodyland">
    {% include 'default/header.html.twig' %}
    <div class="container">
        {% endblock %} {% block body %}
    </div>
    {% include 'default/footer.html.twig' %}
</div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/app.js') }}"></script>


    <!-- Matomo -->
    <script type="text/javascript">
        var _paq = _paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "https://piwik.cipherbliss.com/";
            _paq.push(['setTrackerUrl', u + 'piwik.php']);
            _paq.push(['setSiteId', '1']);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript';
            g.async = true;
            g.defer = true;
            g.src = u + 'piwik.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <!-- End Matomo Code -->


{% endblock %}
</body>
</html>
