<div class="bg-bottom">
    <div class="container bg-shadow padded">

        <div class="product-values marged-v">
            <div class="row">
                <div class="col-xs-12 col-sm-6 text-center">
                    <i class="fa fa-exchange fa-3x"></i>
                    <h2>Mobile</h2>
                    <p>Notez vos activités en mobilité aussi bien sur votre téléphone qu'avec votre ordinateur de
                        bureau.</p>
                </div>
                <div class="col-xs-12 col-sm-6 text-center">
                    <i class="fa fa-star fa-3x"></i>
                    <h2>Atteignez vos objectifs</h2>
                    <p>Apprenez à fixer et réaliser des objectifs avec des conseils simples à suivre</p>
                </div>
                <div class="col-xs-12 col-sm-6 text-center">
                    <i class="fa fa-line-chart fa-3x"></i>
                    <h2>Statistiques</h2>
                    <p>Consultez votre historique, corrigez le au besoin, suivez vos activités et ciblez vos périodes de
                        procrastination afin de les vaincre.</p>
                </div>
                <div class="col-xs-12 col-sm-6 text-center">
                    <i class="fa fa-heart-o fa-3x"></i>
                    <h2>Data Love</h2>
                    <p>Sources libres, Données exportables et importables en masse librement.</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="try">
            <fieldset>
                <div class="row">
                    <div class="col-xs-6 text-center">
                        <a class="btn btn-primary" href="{{ path('dashboard') }}" class="btn btn-success">
                            Essayez dès maintenant
                        </a>
                        <br> <sub> Démonstration en vous connectant avec <br> le login: <strong>demo</strong> et le mot
                            de passe <strong>demo</strong>. </sub>
                    </div>
                    <div class="col-xs-6">
                        <a class="btn btn-default" href="{{ path('fos_user_security_login') }}">
                            <i class="fa fa-key"></i>
                            Se connecter
                        </a>
                        <a class="btn btn-primary" href="{{ path('fos_user_registration_register') }}">
                            <i class="fa fa-user"></i>
                            Créer un compte
                        </a>

                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>


