<footer class="big-footer text-center">
    <div class="container">

        <sub class="footer-note text-center"> Sources sur Gitlab
            <a href="https://gitlab.com/tykayn1/time-tracker">
                time-tracker
            </a>

            développé par Tykayn /
            <a href="http://www.cipherbliss.com">
                Cipher Bliss
            </a>
            |
            <a href="mailto:contact@cipherbliss.com">
                <i class="fa fa-mail"></i>
                contact
            </a>
        </sub>
    </div>

</footer>
