{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div id="wrapper">
        <main>

            <div id="container" class="container">

                <main>
                    {% include 'default/main-screen.html.twig' %}
                </main>
            </div>
        </main>
    </div>
{% endblock %}
