{% trans_default_domain 'FOSUserBundle' %}
{% block loginchoices %}
    <div class="loginland ">
        <div class="padded container">
            <div class="login-choices">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <div class="row">
                        <div class="col-xs-8">
                            {% include 'default/navigation.html.twig' %}
                        </div>
                        <div class="col-xs-4 text-right">
                            Bonjour
                            <a href="{{ path('fos_user_profile_edit') }}">

                                <i class="fa fa-user"></i>
                                {{ app.user.username }}

                            </a>
                            |
                            <a class="btn btn-default" href="{{ path('fos_user_security_logout') }}">
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                        </div>
                    </div>


                {% else %}
                    <h1 class="text-right">
                        <a class="btn btn-primary"
                                href="{{ path('fos_user_security_login') }}">
                            <i class="fa fa-key"></i>
                            {{ 'layout.login'|trans }}</a>
                        <a class="btn btn-default"
                                href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans }}</a>
                    </h1>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock loginchoices %}
