{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block bigMain %}
    {% include 'default/header.html.twig' %}

    {% block mainScreen %}

        <div class="main-screen">
            <div class="bg-top">
                <div id="welcome" class="welcome text-center  ">
                    <div class="container">

                        <div class="padded bg-shadow">

                            <h1>
                                <i class="fa fa-paper-plane logo-main"></i>
                                TimeTracking par Cipherbliss
                            </h1>
                            <div class="description">
                                Suivre vos activités pour vaincre la procrastination
                            </div>
                            <div class="try">
                                <a class="btn btn-primary" href="{{ path('fos_user_security_login') }}"
                                        class="btn btn-primary">
                                    Essayez dès maintenant
                                </a>
                                <p>
                                    Démonstration en vous connectant avec le login: <strong>demo</strong><br> et le mot
                                    de passe <strong>demo</strong>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'default/description-app.html.twig' %}

            <div id="contact" class="text-center padded">
                <i class="fa fa-envelope-open-o"></i>
                contactez-moi pour tout renseignement:
                <a href="mailto:contact@cipherbliss.com"> par email</a>
                , Telegram @tykayn, ou sur Mastodon
                <a href="https://mamot.fr/@tykayn">
                    <img src="https://en.gravatar.com/userimage/53061325/811d383aa2ebb8d2d83baab7da5f4a7b.jpeg"
                            alt="avatar Mastodon" width="50" height="50"> @tykayn@mamot.fr
                </a>
            </div>


        </div>

    {% endblock %}
{% endblock %}
