<nav>
    <div id="menu-dashboard">
        <ul class="nav nav-pills">
            <li>
                <a class="btn {% if app.request.attributes.get('_route') == 'homepage' %}
                                            btn-success
                                        {% else %}
                                            btn-default
                                        {% endif %}" href="{{ path('homepage') }}" title="accueil Caisse">
                    <i class="fa fa-circle-o-notch "></i>
                </a>
            <li>
            <li>
                <a class="btn {% if app.request.attributes.get('_route') == 'dashboard' %}
                                            btn-success
                                        {% else %}
                                            btn-default
                                        {% endif %}" href="{{ path('dashboard') }}">
                    <i class="fa fa-list"></i>
                    Dashboard
                </a>
            </li>
            <li>
                <a class="btn {% if app.request.attributes.get('_route') == 'stats' %}
                                            btn-success
                                        {% else %}
                                            btn-default
                                        {% endif %}" href="{{ path('stats') }}">
                    <i class="fa fa-area-chart"></i>
                    Statistiques
                </a>
            </li>
            <li>
                <a class="btn {% if app.request.attributes.get('_route') == 'goal_index' %}
                                            btn-success
                                        {% else %}
                                            btn-default
                                        {% endif %}" href="{{ path('goal_index') }}">
                    <i class="fa fa-paper-plane"></i>
                    Goals
                </a>
            </li>
            <li>
                <a class="btn {% if app.request.attributes.get('_route') == 'activity_index' %}
                                            btn-success
                                        {% else %}
                                            btn-default
                                        {% endif %}" href="{{ path('activity_index') }}">
                    <i class="fa fa-star"></i>
                    Activities
                </a>
            </li>
        </ul>
    </div>
</nav>
