@import '../split/custom_vars';

body {
  color: $all-text-color;
}

#wrapper {
  min-height: 100vh;
}

.main-screen {
  min-height: 80vh;
}

.logo-main {
  color: $logo-color;
}

.loginland {
  background: $brand-primary;
  a {
    &:not(.btn) {
      @extend .light-text;
    }
  }
}

.big-footer {
  background: $dark;
  color: $light;
  height: 4em;
  padding: 1em;
  box-sizing: border-box;
  margin-top: 4em;
}

thead {
  background: $dark;
  color: $light;
}

ul {
  padding: 0;
}

label {
  min-width: 20em;
  display: inline-block;
}

.padded {
  padding: 1rem;
  &-v {
    padding: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.marged {
  margin: 1rem;
  &-v {
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
