.bg-top {
  background: url('/img/back-view-island-stones.jpg');
  @extend .bigscreen;
}

.bg-bottom {
  @extend .bigscreen;
  background: url('/img/architecture_bois_cafe.jpg');

}

.light-text {
  color: $light;
  h1, .h1, h2, .h2, h3, .h3 {
    color: $light;
  }
}

.bigscreen {

  @extend .light-text;
  background-attachment: fixed;
  padding: 1rem;
  padding-top: 25vh;
  min-height: 95vh;
  width: 100%;
}

.bg-shadow {
  background: rgba(0, 0, 0, 0.25);
  padding: 2rem;
}

.bg-img {
  background-image: url('bg.jpg');
  background-size: cover;
  overflow: hidden;
}

.product-values {
  > div > div {
    min-height: 200px;
    p {
      width: 50%;
      margin: 0 auto;
    }
  }
}
