{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <div class="row">
        <div class="col-xs-6">
            <h1>
                <i class="fa fa-key"></i>
                Se connecter
            </h1>
            {{ include('@FOSUser/Security/login_content.html.twig') }}
        </div>
        <div class="col-xs-6">
            <p>

            <a class="btn btn-info" href="{{ path('fos_user_resetting_request') }}">
                Mot de passe oublié?
            </a>
            </p>
            <p>

            <a class="btn btn-info" href="{{ path('fos_user_registration_register') }}">
                Créer un compte
            </a>
            </p>
        </div>
    </div>


{% endblock fos_user_content %}
