{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <div class="row">
        <div class="col-xs-6">
            <h1>Mot de passe oublié</h1>
            {% include "@FOSUser/Resetting/request_content.html.twig" %}
        </div>
        <div class="col-xs-6">
            ou bien,
            <a class="btn btn-info" href="/login">se connecter.</a>
        </div>
    </div>

{% endblock fos_user_content %}
