table {
  width: 100%;
}

.btn-primary {
  background: $all-text-color;
}

label[required] {
  &:after {
    content: "*";
    color: red;
  }
}

.editing {
  input {
    color: $brand-primary;
  }
}

.rank-indicator {
  width: 4em;
}
