.padded {
  padding: 1rem;
  &-v {
    padding: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.marged {
  margin: 1rem;
  &-v {
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
