<h2>Activités

    <i class="fa fa-info"></i>
</h2>
{% verbatim %}
 <div class="well">
    <div ng-if=recordingActivity >
    <i class="fa fa-play"></i>
    {{ recordingActivity.name || 'rien' }}

    <div class="row">
    			<div class="col-xs-6">
    			<button ng-click="waitALittle()">wait</button>
</div>
    			<div class="col-xs-6">
{{startDate|date:'H:m:s'}}
<div class="alert alert-success"  ng-if="! timeout"> recording for {{ recordingLength }} sec since {{startDate|date:'H:i:s'}}</div>
<div class="alert alert-info" ng-if="timeout"> recording in {{timeout}}</div>
</div>
    </div>
    <span class="badge">
      {{countRecords}}
    </span>

    enregistrements
    </div>
</div>
<!--{{ recordingActivity |json}}-->
<div class="list-activities">
        <div
        ng-repeat="a in activities"
        ng-class="{'editing' : recordingActivity.name == a.name}">
        <span class="btn btn-default rank-indicator"
        ng-click="recordStart(a)"
        ng-class="{'btn-success' : recordingActivity.name == a.name}"
        >
            {{a.rank}}
        </span>
            <input type="text" ng-model="a.name">
            <i class="fa fa-pencil" ng-if="currentActivity.name == a.name"></i>

            <button class="btn btn-default"
              ng-class="{'btn-primary' : paintingActivity.name == a.name}"
              ng-click="paintWithActivity(a)">
                <i class="fa fa-paint-brush"></i>
            </button>
        </div>
    <button class="btn btn-default" ng-click="addActivity()">
        <i class="fa fa-plus"></i>
    </button>
</div>


{% endverbatim %}
