<h2>Objectifs de la semaine</h2>
{% verbatim %}
<ul>
    <li ng-repeat="g in goalsOfTheWeek">
        <input type="checkbox" ng-model="g.achieved">
        {{ g.name }}
    </li>
</ul>

{% endverbatim %}
