<h2>Aujourdhui</h2>
<p>peindre les parties de la journée avec les activités</p>
{% verbatim %}
<div class=" marged-v" ng-repeat="timeSection in tableTime"

        ng-class="{ 'currentHour' : currentDate.getHours() == timeSection,
                         'passedHour': currentDate.getHours() < timeSection ,
                         'futurHour': currentDate.getHours() > timeSection ,
                         }">
    <div class="btn btn-default timeSection">
        {{ timeSection }} h -
        {{ timeSection }} h 15
    </div>
    <div class="btn btn-default timeSection">
        {{ timeSection }} h 15 -
        {{ timeSection+1 }} h 30
    </div>
    <div class="btn btn-default timeSection">
        {{ timeSection }} h 30 -
        {{ timeSection+1 }} h 45
    </div>
    <div class="btn btn-default timeSection">
        {{ timeSection }} h 45 -
        {{ timeSection+1 }} h
    </div>

</div>
{% endverbatim %}
