{% extends 'base.html.twig' %}

{% block body %}
    <h1>Goals list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Reportedcount</th>
                <th>Achieved</th>
                <th>Achievedtime</th>
                <th>Start</th>
                <th>End</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for goal in goals %}
            <tr>
                <td><a href="{{ path('goal_show', { 'id': goal.id }) }}">{{ goal.id }}</a></td>
                <td>{{ goal.name }}</td>
                <td>{{ goal.reportedCount }}</td>
                <td>{% if goal.achieved %}Yes{% else %}No{% endif %}</td>
                <td>{% if goal.achievedTime %}{{ goal.achievedTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if goal.start %}{{ goal.start|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if goal.end %}{{ goal.end|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('goal_show', { 'id': goal.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('goal_edit', { 'id': goal.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('goal_new') }}">Create a new goal</a>
        </li>
    </ul>
{% endblock %}
