{% extends 'base.html.twig' %}

{% block body %}
    <h1>Goal</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ goal.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ goal.name }}</td>
            </tr>
            <tr>
                <th>Reportedcount</th>
                <td>{{ goal.reportedCount }}</td>
            </tr>
            <tr>
                <th>Achieved</th>
                <td>{% if goal.achieved %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Achievedtime</th>
                <td>{% if goal.achievedTime %}{{ goal.achievedTime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Start</th>
                <td>{% if goal.start %}{{ goal.start|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>End</th>
                <td>{% if goal.end %}{{ goal.end|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('goal_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('goal_edit', { 'id': goal.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
